
.navbar {
  box-shadow: 2px 2px 2px #b5b5b6;
  opacity: 10;
}

.navbar .nav-item .nav-link {
  color: rgb(235, 228, 228);
}

.navbar .navbar-brand {
  color: rgb(235, 228, 228);
}

.main-header {
  position: relative;
  background:url(https://fintasport.github.io/img/finta3.jpg);
  background-size: cover;
  min-height: 600px;
}

.background-overlay {
  background: rgba(00, 00, 000,.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#somos{
  background: #3286ad;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#servicios{position: relative;
  background:url(https://fintasport.github.io/img/fondo-estadio.jpg);
  background-size: cover;
  
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#sublimaciones{
  position: relative;
  background:url(https://fintasport.github.io/img/video-portada.jpg);
  background-size: cover;
  min-height: 600px;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
 }

#contacto{
  background: #0a053b;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#copyrigth {
  background: rgb(6, 1, 27);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.card .card-body .imagen{
border: #1dd323;
}
